<div class="container">
  <form [formGroup]="dashboardForm">
    <div class="row">
      <div class="col-xs-12 col-md-12 text-center py-4">
        <h2>Build Dashboard</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <h5>Region</h5>
        <select class="form-control error-behavior select-group border border-dark" formControlName="buildDropdown" (change)="onSelect()">
          <option value="EU">EU</option>
          <option value="CL">CL</option>
          <option value="CO">CO</option>
        </select>
      </div>
      <div class="col-xs-6 col-md-8 text-right pt-4 mt-2">
        <button class="btn btn-info text-dark font-weight-bold" (click)="refreshData()">Refresh Data</button>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-md-12" *ngIf="selectedRegionBuild">
        <div class="text-center bg-info py-1 font-weight-bold">REGION: {{ dashboardForm.controls.buildDropdown.value }}
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>BUILD STATUS</th>
              <th>QA STATUS</th>
              <th>PROMOTION TO BETA</th>
              <th>PROMOTION TO STORE</th>
              <th>BUILD NUMBER</th>
            </tr>
          </thead>          
          <tbody *ngIf ="buildInfo && buildInfo.status">
            <td><i class= "fa fa-circle text-success"></i> {{ buildInfo.statusValue }}</td>
            <td><i class= "fa fa-circle text-success"></i> {{ buildInfo.statusValue }}</td>
            <td><i class= "fa fa-circle text-success"></i> {{ buildInfo.statusValue }}</td>
            <td><i class= "fa fa-circle text-success"></i> {{ buildInfo.statusValue }}</td>
            <td> {{ buildInfo.number }}</td>
          </tbody>
          <tbody *ngIf = "buildInfo && !buildInfo.status">
            <td><i class="fa fa-circle" [ngClass]="checkBuildStatus(selectedRegionBuild['Build'])"></i> {{ selectedRegionBuild['Build'] }} </td>
            <td><i class="fa fa-circle" [ngClass]="checkBuildStatus(selectedRegionBuild['Automation Test'])"></i> {{ selectedRegionBuild['Automation Test'] }}</td>
            <td><i class="fa fa-circle" [ngClass]="checkBuildStatus(selectedRegionBuild['Build Promtion'])"></i> {{ selectedRegionBuild['Build Promtion'] }}</td>
            <td><i class="fa fa-circle" [ngClass]="checkBuildStatus(selectedRegionBuild['Store Build and Signing '])"></i> {{ selectedRegionBuild['Store Build and Signing '] }}</td>
            <td>{{ buildInfo.number }}</td>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 bg-info text-center py-5 border border-dark" *ngIf="initialPageLoad">
        <h5>Please select a region from the dropdown</h5>
      </div>
      <div class="col-md-12 bg-info text-center py-5 border border-dark"
        *ngIf="!initialPageLoad && !selectedRegionBuild">
        <h5>We don't have any build run recently for this region</h5>
      </div>
    </div>
  </form>
</div>